* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-size: xx-large;
  min-width: 390px;
}

.header__wrap div {
    background-color: white;
    box-shadow: 0px -25px 11px -19px rgba(34, 60, 80, 0.37) inset;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    box-sizing: border-box;
    max-width: 1550px;
    margin: 0 auto;
}

.header img {
    margin-top: 10px;
    text-align: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    box-sizing: border-box;
    max-width: 1550px;
    margin: 0 auto;
}

.footer__line {
    background-color: white;
    box-shadow: 0px 25px 11px -19px rgba(34, 60, 80, 0.37) inset;
}

.footer li {
    display: inline-block;
    position: relative;
    margin: 5px;
}

.footer img {
    margin-top: 10px;
    text-align: center;
}

.footer a {
    display: inline-block;
}

.footer__text {
    font-size: medium;
}

.hamburger-menu {
    position: relative;
    width: 30px;
}

#menu__toggle {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
#menu__toggle:checked ~ .menu__box {
    right: 0 !important;
}
.menu__btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 3;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #616161;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 90px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 2;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

/*front page*/

.main__wrap {
    background: url(../img/background.png) center center no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 700px;
    
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

/*.main input[type=radio], input[type=checkbox] {
  display: none;
}*/

.card {
  position: absolute;
  height: 100%;
  aspect-ratio: 56.25/100;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
  z-index: 4;
}

.container {
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.video__mask {
    width: 100%;  height: 100%;
    border-radius: 15px; 
    overflow: hidden;
}

#item-1:checked ~ .cards #video-label-3, #item-2:checked ~ .cards #video-label-1, #item-3:checked ~ .cards #video-label-2 {
  transform: translatex(-40%) scale(.8);
  opacity: 0.7;
  z-index: 0;
}

#item-1:checked ~ .cards #video-label-2, #item-2:checked ~ .cards #video-label-3, #item-3:checked ~ .cards #video-label-1 {
  transform: translatex(40%) scale(.8);
  opacity: 0.7;
  z-index: 0;
}

#item-1:checked ~ .cards #video-label-1, #item-2:checked ~ .cards #video-label-2, #item-3:checked ~ .cards #video-label-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.button {
    background-color: #fff;
    border-radius: 8px;
    min-width: 320px;
    padding: 0px 10px;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;
  overflow: hidden;
}

.video-info {
  width: 100%;
  display: block;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

.video-info .title {
  color: #403d40;
  font-size: 24px;
  line-height: 24px;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .4s cubic-bezier(0, 0, 0.2, 1);
  align-items: center;
}

#item-2:checked ~ .button #test {
  transform: translateY(0);
}

#item-2:checked ~ .button #test  {
  transform: translateY(-48px);
}

#item-3:checked ~ .button #test  {
  transform: translateY(-96px);
}

.mute {
  position: absolute;
  display: flex;
  border-radius: 15px;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}

.img__mute {
  position: relative;
  height: 20px;
  width: 20px;
}

.img__mute img {
  position: absolute;
  right: 2.5px;
  top: 2.2px;
}





/*catalog page*/

.main__wrap-catalog {
  display: flex;
  background: url(../img/background.png) center center no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.catalog {
  margin: auto;
  width: 80%;
  text-align: center;
  max-width: 1100px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.catalog li {
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.card__image-wrapper {
  height: 300px;
  display: flex; 
}

.card__image-wrapper a {
  vertical-align: middle;
  text-align: center;
  display: flex; 
}

.card__image {
  margin: auto; /* Important */ 
  text-align: center; 
  position: relative;
  bottom: -10px;
  padding: 1px;
}

.stuff__card {
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0px 14px 24px 8px rgb(0, 0, 0);
}

.stuff__card:hover, .stuff__card:active {
  box-shadow: none;
  transition-duration: .4s;
  transform: scale(.9);
}


.card__type {
  font-size: 15px;
  letter-spacing: 2px;
}

.card__name {
  text-align: center;
}

.card__name a {
  display: block;
  font-size: 35px;
  text-decoration: none;
  color: black;
  font-weight: 900;
}

.card__price-value {
  position: relative;
  top: -10px;
  font-size: 25px;
  font-weight: 400;
}


/*sizes-page*/

.main__wrap-sizes {
  display: flex;
  background: url(../img/background.png) center center no-repeat;
  background-size: cover;
  margin: 0 auto;

  .card__name {
    padding-top: 23px;
    padding-bottom: 23px;
  }


}

.body_overflow__hidden {
  overflow: hidden;
}

.sizes-table-full-image__show {
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: middle;
  text-align: center;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 101%;
  max-height: 1300px;

  .sizes-table-img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
    aspect-ratio: 1/1;
    width: 40%;
    border-radius: 15px;
    background: url(../img/items/sizes-tables/hoodie-net.jpg) center center no-repeat;
    background-size: 100%;
    min-width: 380px;
    z-index: 6;
  }

  .sizes-table-mask {
    position: absolute;
    width: 100%;
    height: 300%;
    background: rgb(0, 0, 0) fixed; 
    opacity: 0.8;
    z-index: 5;
  }
}
