* {
  padding: 0; margin: 0;
  box-sizing: border-box;
}

body {
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
line-height: 1.5;
font-size: xx-large;
min-width: 390px;
}

.header__wrap {
position: relative;
z-index: 3;
}

.header__wrap .header__wrap__div {
background-color: white;
box-shadow: 0px -25px 11px -19px rgba(34, 60, 80, 0.37) inset;
}

.backlink__div {
display: flex;
flex-direction: column;

a {
  max-width: 80px;
  font-size: medium;
  text-align: center;
  font-weight: 800;
  text-decoration: none;
  color: #000000;
}
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  box-sizing: border-box;
  max-width: 1550px;
  margin: 0 auto;
}

.header img {
  margin-top: 10px;
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  box-sizing: border-box;
  max-width: 1550px;
  margin: 0 auto;
}

.footer__line {
position: relative;
z-index: 2;
background-color: white;
box-shadow: 0px 25px 11px -19px rgba(34, 60, 80, 0.37) inset;
}

.footer li {
  display: inline-block;
  position: relative;
  margin: 5px;
}

.footer img {
  margin-top: 10px;
  text-align: center;
}

.footer a {
  display: inline-block;
}

.footer__text {
  font-size: medium;
}

.footer__links {
  min-width: 150px;
}

.hamburger-menu {
  position: relative;
  width: 30px;
}

#menu__toggle {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 5;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 7em;
  height: 100%;
  margin: 0;
  padding: 90px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 4;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 25px;
  font-weight: 800;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

/*front page*/

.page__header {
  text-align: center;
  max-width: 1100px;
  min-width: 300px;
  letter-spacing: 8px;
  font-weight: 800;
  line-height: 1em;
  font-size: 150%;
  margin: 2vmin;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__wrap {
position: relative;
background: url(../img/background.png) center center no-repeat;
background-size: cover;
margin: 0 auto;
min-height: 600px;
}

.main {
position: relative;
z-index: 1;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 10px;
margin: auto;
max-width: 1100px;
border-radius: 15px;
}

.main input[type=radio], input[type=checkbox] {
display: none;
}

.card {
position: absolute;
height: 100%;
aspect-ratio: 56.25/100;
left: 0;
right: 0;
margin: auto;
transition: transform .4s ease;
cursor: pointer;
z-index: 4;
}

.container {
max-width: 800px;
max-height: 600px;
height: 100%;
transform-style: preserve-3d;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.cards {
position: relative;
width: 100%;
height: 100%;
margin-bottom: 20px;
}

.video__mask {
  width: 100%;  height: 100%;
  border-radius: 15px; 
  overflow: hidden;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

#item-1:checked ~ .cards #video-label-3, #item-2:checked ~ .cards #video-label-1, #item-3:checked ~ .cards #video-label-2 {
transform: translatex(-40%) scale(.8);
opacity: 0.7;
z-index: 0;
}

#item-1:checked ~ .cards #video-label-2, #item-2:checked ~ .cards #video-label-3, #item-3:checked ~ .cards #video-label-1 {
transform: translatex(40%) scale(.8);
opacity: 0.7;
z-index: 0;
}

#item-1:checked ~ .cards #video-label-1, #item-2:checked ~ .cards #video-label-2, #item-3:checked ~ .cards #video-label-3 {
transform: translatex(0) scale(1);
opacity: 1;
z-index: 1;
}

.button {
background-color: #fff;
border-radius: 8px;
min-width: 320px;
padding: 0px 10px;
letter-spacing: 4px;
box-shadow: 0px 14px 30px 2px rgb(0, 0, 0);
}

.button:hover {
box-shadow: none;
transition-duration: .4s;
transform: scale(.95);
}

.upper-part {
position: relative;
display: flex;
align-items: center;
height: 54px;
overflow: hidden;
}

.video-info {
width: 100%;
display: block;
text-align: center;
padding: 12px;
text-decoration: none;
}

.video-info .title {
color: #403d40;
font-size: 30px;
line-height: 30px;
font-weight: 900;
}

.info-area {
width: 100%;
position: absolute;
top: 0;
left: 0;
transition: transform .4s cubic-bezier(0, 0, 0.2, 1);
align-items: center;
}

#item-2:checked ~ .button #test {
transform: translateY(0);
}

#item-2:checked ~ .button #test  {
transform: translateY(-54px);
}

#item-3:checked ~ .button #test  {
transform: translateY(-108px);
}

.mute {
position: absolute;
display: flex;
border-radius: 15px;
right: 10px;
bottom: 10px;
z-index: 10;
}

.img__mute {
position: relative;
height: 20px;
width: 20px;
}

.img__mute img {
position: absolute;
right: 2.5px;
top: 2.2px;
}





/*catalog page*/

.main__wrap-catalog {

display: block;
background: url(../img/background.png) center center no-repeat;
background-size: cover;


  position: relative;
  #bg-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

  }
}


.catalog {
margin: auto;
text-align: center;
max-width: 1100px;
}
/*
.catalog__header {
line-height: 1em;
font-size: 150%;
margin: 2vmin auto;
text-align: center;
max-width: 1100px;
min-width: 300px;
letter-spacing: 8px;
font-weight: 800;
z-index: 1;
}
*/
.catalog li {
position: relative;
display: inline-block;
padding-left: 2%;
padding-right: 2%;
padding-top: 0;
padding-bottom: 2%;
z-index: 1;
}

.card__image-wrapper {
height: 300px;
display: flex; 
justify-content: center;
}

.card__image-wrapper a {
vertical-align: middle;
text-align: center;
display: flex; 
}

.card__image {
margin: auto; /* Important */ 
text-align: center; 
position: relative;
border-radius: 15px;
object-fit: contain;
}

.stuff__card {
max-width: 300px;
background-color: whitesmoke;
border-radius: 15px;
box-shadow: 0px 14px 24px 8px rgb(0, 0, 0);
}

.stuff__card:hover {
box-shadow: none;
transition-duration: .4s;
transform: scale(.95);
}

.card__info {
display: grid;
align-items: center;
justify-items: center;
grid-template-rows: 20% 50% 30%;
height: 165px;
}


.card__type {
font-size: 15px;
letter-spacing: 2px;
}

.card__name {
text-align: center;
}

.card__name a {
line-height: 35px;
display: block;
font-size: 35px;
text-decoration: none;
color: black;
font-weight: 1000;
}

.card__price-value {
position: relative;
top: -10px;
font-size: 25px;
font-weight: 800;
}


/*sizes-page*/

.main__wrap-sizes {
position: relative;
display: flex;
flex-direction: column;
background: url(../img/background.png) center center no-repeat;
background-size: cover;
margin: 0 auto;
padding-top: 10px;
.sizes-page__header {
  position: relative;
  z-index: 1;
  margin: 2vmin auto;
}

.card__name {
  padding-top: 23px;
  padding-bottom: 23px;
}


}

.body_overflow__hidden {
overflow: hidden;
min-width: 390px;
#root {
  min-width: inherit;
  .sizes-page {
    min-width: inherit;
    .sizes-table-mask {
      min-width: inherit;
    }
  }
}
}

body .boddy-img__hide {
visibility: hidden;
position: absolute;
top: 0;
left: 0;
max-width: 0;
}

.sizes-table-full-image__show {
position: absolute;
top: 0;
left: 0;
vertical-align: middle;
text-align: center;
background-size: cover;
display: flex;
width: 101%;
height: 101%;
max-height: 1300px;

.sizes-table-img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  width: 85vmin;
  border-radius: 15px;
  background-color: white;
  background-size: 100%;
  z-index: 6;
  transition: transform .4s ease-in-out;

  img {
    max-height: 100%;
    max-width: 100%;
    visibility: visible;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.sizes-table-mask {
  position: absolute;
  width: 100%;
  height: 300%;
  background: rgb(0, 0, 0) fixed; 
  opacity: 0.8;
  z-index: 5;
}
}


/*item page*/

.main__item__wrap {
display: flex;
justify-content: center;

.item {
  position: relative;
  padding-top: 0.7em;
  padding-bottom: 30px;
  align-self: center;
  width: 95%;
  height: 100%;
  text-align: center;
  max-width: 1100px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.8);
  
  .item__part {
    display: inline-block;
  }

  .item-description__wrap {
    width: 50%;
    min-width: 370px;
    min-height: 400px;
    padding-top: 35px;
    padding-bottom: 5%;
    vertical-align: text-bottom;
    padding-left: 10%;
    padding-right: 3%;
    position: relative;
    text-align: left;
    z-index: 1;
    
    h1 {
      text-align:justify;
      font-weight: 1000;
      font-size: 1.4em;
    }

    h2 {
      color:rgb(35, 35, 35);
      font-weight: 300;
      font-size: 0.8em;
      margin-top: 0px;
    }

    h3 {
      font-size: 1.4em;
      font-weight: 800;
      position: relative;
      float: right;
    }

    button {
      letter-spacing: 0.05em;
      width: 40%;
      aspect-ratio: 16/8;
      border-radius: 15px;
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      font-size: 0.9em;
      color: white;
      background-color: rgb(73, 73, 73);
    }

    p {
      width: 50%;
      padding: 5px 5px;
      max-width: 300px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 0.4em;
      color: rgb(73, 73, 73);
    }
  }
}
}

.size-selector__wrap {
max-width: 80px;
display: flex;
flex-wrap: wrap;

label {
  color:rgb(73, 73, 73);
  font-weight: 600;
  font-size: 1.2em;
}
}

.size-select {
width: 100%;
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 0.6em;
border-radius: 10px;
padding-left: 2px;
}

.item-img-slider__wrap{
position: relative;
z-index: 2;
width: 100%;
max-width: 500px;
aspect-ratio: 1/1;
z-index: 2;
}

.item-img-slider__wrap, .item-description__wrap {
background-color: white;
border-radius: 15px;
box-shadow: 0px 14px 24px 8px rgb(0, 0, 0);
margin: 0px -3%;
}

.item-img-slider__wrap {
  .swiper-button-prev, .swiper-button-next {
    color: #000;
  }
  .swiper-slide{
    border-radius: 15px;
    .slide__container {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        border-radius: 15px;
      }
    }
  }

  .slide__container {
    margin: auto;
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
  }

  .pagination-bullet {
    margin: 0 5px;
  }

  .swiper-pagination-bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: none;
    height: none;
    background: none;
    img {
      width: 60px;
    }
  }
  .swiper-pagination-active {
    background: none;
    img {
      width: 60px;
    }
  }
}



.item-description__wrap-div {
  position: relative;
  min-height: inherit;
  z-index: 2;
  display: grid;
  grid-template-rows: 50% 30% 20%;

  .item_bottom__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 0;
    align-items: flex-end;
    width: 100%;
  }
}
#bg-wrap {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 0;

  svg {
    width: inherit;
    height: inherit;
    border-radius: 15px;
  }
}

.order__wrap {
position: relative;
z-index: 2;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
margin: auto;
width: 90%;
max-width: 1100px;
border-radius: 15px;

.order__header {
  line-height: 1em;
  margin: 2vmin auto;
  text-align: center;
  width: 60%;
  max-width: 1100px;
  min-width: 300px;
  letter-spacing: 8px;
  font-weight: 800;
  font-size: 150%;
}

.long__header {
  font-size: 90%;
  line-height: 1em;
}

.cart-item__list {
  position: relative;
  min-width: 100%;
  display: flex;
  flex-direction: column;

  .cart-item__wrapper {
    display: flex;
    flex-direction: column;
  }
  .cart-item {
      max-height: 75px;
      display: inline-grid;
      grid-template-columns: 10% 60% 20% 10%;
      align-items: center;

      .item-cart__preview {
        display: flex;
        text-align: center;
        position: relative;
        max-width: 40px;
        img {
          width: auto;
          height: auto;
          max-height: 100%;
          max-width: 100%;
        }
      }
        

      .item-left {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 5px 5px;
        margin-left: 10px;
        
        h3 {
          font-size: 5vmin;
          font-weight: 1000;
        }

        .cart-size-selector__wrap {
          display: flex;
          align-items: center;

          label {
            font-size: 4vmin;
            color: rgb(73, 73, 73);
            font-weight: 600;
          }

          .size-select {
            margin-left: 5px;
            font-size: 4vmin;
          }
        }
      }

      .item-middle {
        font-size: 6vmin;
        font-weight: 700;
        text-align: center;
      }

      .item-right {
        text-align: center
      }

      .item-right img {
        transition: transform .2s ease-in-out;
      }

      .item-right img:hover {
        transform: scale(1.2);
      }
    }
  span {
    width: 100%;
    max-height: 2px;
    background-color: #000000;
    padding: 1px;
  }
}
}

.order-total {
width: 100%;
 h3 {
    font-weight: 500;
    font-size: 70%;
  }
.promocode__wrap {
  max-width: 370px;
  display: flex;
  padding: 5px;
  align-items: flex-start;
  flex-direction: column;

  .promocode-input {
    display: flex;
    width: 100%;
    justify-items: center;
    align-items: center;
  }
  input {
    font-family: "Montserrat", sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 60%;
    max-width: 50%;
    height: 80%;
  }
  button {
    display: inline-block;
    font-size: 50%;
    width: 100px;
    letter-spacing: 0.05em;
    padding: 4px;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: white;
    background-color: rgb(73, 73, 73);
  }
}
}

.total__wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    padding: 10px;
    font-size: 150%;
  }
  .total__price {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 40%;
    font-weight: 700;
    font-size: 40px;
  }
}

.order__wrap .total__price {
font-size: 8vmin;
}

.order-inf__wrap {
min-width: 100%;
text-align: center;

.form__wrap {
  display: inline-block;
  text-align: left;
  min-width: 350px;
  width: 65%;
  p {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }
  label {
    font-size: 5vmin;
    font-weight: 600;
  }
  input {
    font-family: "Montserrat", sans-serif;
    font-size: 3vmin;
    width: 50%;
  }
  input[type="radio"]{
    display: none;
  }
}

.ship__wrap p {
  font-size: 5vmin;
  font-weight: 600;
}

.ship-option__selector {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  label {
    font-size: 4vmin;
    font-weight: 400;
  }
  .ship-option__wrap {
    display: flex;
    align-items: center;
    width: 90%;
  }
}

.adress__wrap {
  display: flex;
  flex-direction: column;
  .adress__part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform .5s ease-in-out;
    input {
      width: 50%;
    }
    label {
      margin-left: 6%;
      font-size: 4vmin;
      font-weight: 400;
    }
  }
}
button {
  width: 100%;
  aspect-ratio: 8/1;
  font-size: 5vmin;
  letter-spacing: 0.05em;
  padding: 4px;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: white;
  background-color: rgb(73, 73, 73);
}

.article__label{
  margin-left: 5px;
}

}

.ship__wrap .ship_sdek_pick-up-point,
.ship__wrap .ship_sdek_rider,
.ship__wrap .PR_pick-up-point,
.ship__wrap .PR_rider {
transition: transform .3s ease-in-out;
}

@keyframes hide {
0% {
  height: 100%;
  opacity: 1;
}
100% {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
}

@keyframes seek {
0% {
  height: 0%;
  opacity: 0;
}
100% {
  height: 100%;
  opacity: 1;
  visibility: visible;
}
}

#ship_sdek_rider:checked ~ .adress__wrap .ship-apartments,
#PR_rider:checked ~ .adress__wrap .ship-apartments {
animation-name: seek;
animation-duration: 0.5s;
animation-fill-mode: forwards;
}

#ship_sdek_pick-up-point:checked ~ .adress__wrap .ship-apartments,
#PR_pick-up-point:checked ~ .adress__wrap .ship-apartments {
animation-name: hide;
animation-duration: 0.5s;
animation-fill-mode: forwards;
}

#ship_sdek_pick-up-point:checked ~ .adress__wrap .ship-index,
#PR_pick-up-point:checked ~ .adress__wrap .ship-index {
transform: translateY(-100%);
}

#PR_pick-up-point:checked ~ .adress-label__wrap .rider__hint {
display: none;
}

#ship_sdek_pick-up-point:checked ~ .adress-label__wrap .rider__hint {
display: none;
}

#PR_rider:checked ~ .adress-label__wrap .pick-up-point__hint {
display: none;
}

#ship_sdek_rider:checked ~ .adress-label__wrap .pick-up-point__hint {
display: none;
}

#ship_sdek_pick-up-point:checked ~ .ship__wrap .ship_sdek_pick-up-point,
#ship_sdek_rider:checked ~ .ship__wrap .ship_sdek_rider,
#PR_pick-up-point:checked ~ .ship__wrap .PR_pick-up-point,
#PR_rider:checked ~ .ship__wrap .PR_rider {
border: solid black;
border-width: 2.5px;
transform: scale(1.1);
}

.adress-label__wrap {
display: flex;
align-items: center;
.user-hints__ship {
  position: relative;
  width: 70%;
  height: 20px;
  display: flex;
  align-items: center;
  h4 {
    position: absolute;
    left: 0;
    font-size: 2.5vmin;
    font-weight: 400;
    margin-left: 20px;
  }
}
}

.empty-cart {
text-align: center;
font-size: 2.8em;
line-height: 1em;
letter-spacing: 0px;
font-weight: 800;
color:rgba(0, 0, 0, 0.2);
}

.order__wrap__pc {
position: relative;
z-index: 1;
max-width: 800px;
min-width: 550px;
width: 70%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 0px;
margin: auto;
border-radius: 15px;

.empty-cart {
  text-align: center;
  font-size: 600%;
  min-width: 200px;
  letter-spacing: 20px;
  font-weight: 800;
  line-height: 150px;
  color:rgba(0, 0, 0, 0.2);
}

.cart-item__list {
  width: 100%;
  .cart-item__wrapper {
    margin-bottom: 10px;
    display: grid;
  }
}

.cart-item {
  min-width: inherit;
  display: inline-grid;
  grid-template-columns: 10% 60% 20% 10%;
  align-items: center;

  .item-cart__preview {
    display: flex;
    text-align: center;
    img {
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
    }
  }
    

  .item-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 5px 5px;
    margin-left: 10px;
    
    h3 {
      font-size: 100%;
      font-weight: 1000;
    }

    .cart-size-selector__wrap {
      display: flex;
      align-items: center;

      label {
        font-size: 80%;
        color: rgb(73, 73, 73);
        font-weight: 600;
        margin-right: 5px;
      }

      #size-select {
        margin-left: 10px;
        font-size: 80%;
      }
    }
  }

  .item-middle {
    font-size: 130%;
    font-weight: 700;
    text-align: center;
  }

  .item-right {
    text-align: center
  }

  .item-right img {
    transition: transform .2s ease-in-out;
  }

  .item-right img:hover {
    transform: scale(1.2);
  }
}
span {
  width: 100%;
  height: 2px;
  background-color: #000000;
  padding: 1px;
}

.total__wrap h2 {
  font-size: 160%;
  padding: 5px 60px;

}

.long__header {
  font-size: 120%;
}

.total__wrap .total__price {
  font-size: 150%;
}

.order-total .promocode__wrap {
  max-width: 500px;
  padding-left: 30px;
}

.form__wrap {
  label{
    font-size: 110%;
  }
  input{
    font-size: 100%;
  }
  .ship__wrap label {
    font-size: 90%;
  }
  .pick-up-point__hint, .rider__hint {
    font-size: 60%;
  }
  .adress__wrap {
    label {
      font-size: 100%;
    }
    input {
      font-size: 100%;
    }
  }
  button {
    font-size: 150%;
    margin: 35px 0px;
  }
  .ship-option__wrap {
    margin: 5px 10px;
  }
}
}

/*ship page*/

.main_mobile {
  h3 {
    font-size: 100%;
  }
  li, p {
    font-size: 60%;
    font-weight: 500;
  }
}

/*authors page*/
.main-authors-page {
  .creator-card__wrap {
    margin: 10px 0;
    width: 80%;
    position: relative;
    text-align: center;
    border-radius: 15px;
    z-index: 2;
    background-color: white;
    h3 {
      padding: 20px 0;
      z-index: 1;
      position: relative;
      background-color: white;
      border-radius: 15px;
    }
    .pic__wrap {
      width: 100%;
      height: 300px;
      z-index: 1;
      position: relative;
      background: white;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .author-text-description__wrap {
      display: flex;
      position: relative;
      height: 0px;
      width: 100%;
      flex-direction: column-reverse;
      transition: 0.8s ease-in-out;
      p {
        position: relative;
        z-index: -1;
        font-size: 75%;
      }
    }
    .arrow__wrap .dwn-arrow {
      transition: transform .2s ease-out;
    }
  }
}
  
#creator_Name1:checked ~ .author-text-description__wrap,
#creator_Name2:checked ~ .author-text-description__wrap,
#creator_Name3:checked ~ .author-text-description__wrap {
  height: 300px;
}

#creator_Name1:checked ~ .arrow__wrap .dwn-arrow,
#creator_Name2:checked ~ .arrow__wrap .dwn-arrow,
#creator_Name3:checked ~ .arrow__wrap .dwn-arrow {
  transform: rotatex(180deg);
}

.main-authors-page .creator-card__wrap-mobile {
  width: 95%;
  margin: 5px 0;
  .pic__wrap {
    height: 200px;
  }
  .author-text-description__wrap {
    height: 0px;
    animation-name: hide-c-mobile;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    p {
      font-size: 40%;
    }
  }
  #creator_Name1:checked ~ .author-text-description__wrap,
  #creator_Name2:checked ~ .author-text-description__wrap,
  #creator_Name3:checked ~ .author-text-description__wrap {
    height: 200px;
  }
}