* {
  padding: 0; margin: 0;
  box-sizing: border-box;
}

:root {
  --page-max-width: 1500px;
  --page-min-width: 360px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #616161;
}

::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  border-radius: 15px;
}


body {
  font-family: 'Roboto', Arial, sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-size: xx-large;
}

.footer__wrap, .header__wrap {
  height: 100px;
  align-content: center;
}

.footer__wrap {
  box-shadow: 0px 25px 11px -19px rgba(34, 60, 80, 0.37) inset;
}

.header__wrap {
  height: 100px;
  background-color: white;
  box-shadow: 0px -25px 11px -19px rgba(34, 60, 80, 0.37) inset;
}

.backlink__div {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.icon-link {
  height: 80px;
}
.backlink__div a {
  width: 80px;
  font-size: medium;
  text-align: center;
  font-weight: 800;
  text-decoration: none;
  color: #000000;
}

.header {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: var(--page-max-width);
  min-width: var(--page-min-width);
}

.header img {
  text-align: center;
}

.footer {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: var(--page-max-width);
  min-width: var(--page-min-width);
}

.footer li {
  display: inline-block;
  position: relative;
}

.footer img {
  text-align: center;
}

.footer a {
  display: flex;
  display: -webkit-flex;
}

.footer__text {
  font-size: medium;
}

.footer__links {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.hamburger-menu {
  position: relative;
  width: 30px;
}

#menu__toggle {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 5;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 7em;
  height: 100%;
  margin: 0;
  padding: 90px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 3;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

@media (hover: hover) {
  .menu__item:hover {
    background-color: #CFD8DC;
  }
}
@media (hover: none) {
  .menu__item:active {
    background-color: #CFD8DC;
  }
}


/*front page*/

.page__header {
  text-align: center;
  max-width: 1100px;
  min-width: 300px;
  letter-spacing: 8px;
  font-weight: 800;
  line-height: 1em;
  font-size: 48px;
  margin: 15px;
  height: 96px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.main__wrap {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  position: relative;
  background: white;
  background-size: cover;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .main__wrap {
    background: white;
  }
}

.main_overflow_hidden {
  overflow: hidden;
}

.container {
  width: 100%;
  aspect-ratio: 0.81;
  transform-style: preserve-3d;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (min-height: 1100px) and (max-width: 1100px) {
  .hmf-full {
    height: calc(100vh - 200px) !important;
    max-height: unset !important;
  }
  .container {
    width: 100% !important;
  }
}

@media (min-width: 450px) {
  .container {
    min-width: 420px;
  }
}

@media (min-width: 450px) {
  .container {
    width: 40%;
  }
}

.main {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  max-width: var(--page-max-width);
  min-width: var(--page-min-width);
  border-radius: 15px;
}

.main input[type=radio], input[type=checkbox] {
  display: none;
}

.card {
  position: absolute;
  height: 100%;
  aspect-ratio: 56.25/100;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
  z-index: 4;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.video__mask {
  position: relative;
  z-index: 2;
  width: 100%;  height: 100%;
  border-radius: 15px; 
  overflow: hidden;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}
.video__mask video {
  border-radius: 15px;
}

#item-1:checked ~ .cards #video-label-3, #item-2:checked ~ .cards #video-label-1, #item-3:checked ~ .cards #video-label-2 {
  transform: translatex(-40%) scale(.8);
  opacity: 0.7;
  z-index: 0;
}

#item-1:checked ~ .cards #video-label-2, #item-2:checked ~ .cards #video-label-3, #item-3:checked ~ .cards #video-label-1 {
  transform: translatex(40%) scale(.8);
  opacity: 0.7;
  z-index: 0;
}

#item-1:checked ~ .cards #video-label-1, #item-2:checked ~ .cards #video-label-2, #item-3:checked ~ .cards #video-label-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.glass_clr {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 1);
  border: 2px solid rgba(255, 255, 255, 0.18);
}

.button {
  background-color: black;
  overflow: hidden;
  min-width: 350px;
  width: 30%;
  height: 15%;
  letter-spacing: 4px;
  position: relative;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin-bottom: 20px;
}

@media (hover: hover) {
  .button:hover {
    box-shadow: none;
    transition-duration: .4s;
    transform: scale(.95);
  }
}
@media (hover: none) {
  .button:active {
    box-shadow: none;
    transition-duration: .4s;
    transform: scale(.95);
  }
}

.video-info {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  text-decoration: none;
}

.video-info .title {
  color: white;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
}
@media (min-width: 900px) {
  .video-info .title {
    font-size: 40px;
  }
}

.info-area {
  width: 100%;
  height: 300%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .4s cubic-bezier(0, 0, 0.2, 1);
  align-items: center;
}

#item-2:checked ~ .button #test {
  transform: translateY(0);
}

#item-2:checked ~ .button #test  {
  transform: translateY(-33%);
}

#item-3:checked ~ .button #test  {
  transform: translateY(-66%);
}

.mute {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  border-radius: 15px;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}

.img__mute {
  position: relative;
  height: 20px;
  width: 20px;
}

.img__mute img {
  position: absolute;
  right: 2.5px;
  top: 2.2px;
}





/*catalog page*/

.main__wrap-catalog {
  min-height: unset;
  max-height: unset;
  height: fit-content;
}

.catalog {
  list-style-type: none;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 5%;
}

@media (max-width: 500px) {
  .main__wrap-catalog, .main__wrap-sizes {
    background: unset;
  }
  .main {
    padding: 0;
  }
  .main__wrap-catalog #bg-wrap svg, .main__wrap-sizes #bg-wrap svg {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    background: white;
  }
}

.catalog li {
  width: 300px;
  height: 400px;
  position: relative;
  z-index: 1;
}

.stuff__card {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.card__image-wrapper {
  aspect-ratio: 1/1;
  display: flex;
  display: -webkit-flex; 
  justify-content: center;
  background-color: rgb(186, 187, 213);
  border-radius: 15px;
}

.card__image-wrapper a {
  vertical-align: middle;
  text-align: center;
  display: flex;
  display: -webkit-flex; 
}

.card__image {
  margin: auto;
  text-align: center; 
  position: relative;
  border-radius: 15px;
  object-fit: contain;
  width: 100%;
}

@media (hover: hover) {
  .catalog li:hover {
    box-shadow: none;
    transition-duration: .4s;
    transform: scale(.95);
  }
}
@media (hover: none) {
  .catalog li:active {
    box-shadow: none;
    transition-duration: .4s;
    transform: scale(.95);
  }
}
.card__info {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 20% 50% 30%;
  height: 100px;
}


.card__type {
  font-size: 15px;
  letter-spacing: 2px;
}

.card__name {
  text-align: center;
  color: black;
  font-size: 24px;
  align-self: baseline;
}

.card__name a {
  line-height: 35px;
  display: block;
  font-size: 35px;
  text-decoration: none;
  color: antiquewhite;
  font-weight: 1000;
}

.card__price {
  display: flex;
  display: -webkit-flex;
  font-size: 20px;
  font-weight: 600;
}

.card__price-value {
  color: antiquewhite;
  position: relative;
  top: -10px;
  font-size: 25px;
  font-weight: 800;
}


/*sizes-page*/
.sizes-page .catalog {
  margin-bottom: 5px;
}

.sizes-page .card__info {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.sizes-page .catalog li {
  height: unset;
}

@media (max-width: 500px) {
  .catalog li {
    width: 95vw;
    height: unset;
  }
}

.main__wrap-sizes {
  height: fit-content;
  min-height: unset;
}

.body_overflow__hidden {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.hide-full {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.show-full {
  z-index: 3;
  width: 101%;
  height: 100%;
  background: rgb(0, 0, 0, 0.8) fixed;
  visibility: visible;
}
.show-full .sizes-table-img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vmin;
  height: 85vmin;
  border-radius: 15px;
  background-color: white;
  background-size: 100%;
  z-index: 6;
  transition: transform .4s ease-in-out;
}
.show-full .body-img__hide {
  width: -webkit-fill-available; height: -webkit-fill-available;
  object-fit: contain;
  border-radius: 15px;
}




/*item page*/

.main__item__wrap {
  height: fit-content;
  min-width: var(--page-min-width);
  min-height: unset;
}

.size-selector__wrap {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.size-selector__wrap label {
  color:rgb(73, 73, 73);
  font-weight: 600;
  font-size: 1.2em;
}


.size-select {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
  font-size: 0.6em;
  border-radius: 10px;
  padding-left: 2px;
}

.main__item {
  display: inline-flex;
  display: -webkit-inline-flex;
  flex-wrap: wrap;
  flex-direction: unset;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.slider-part, .description-part {
  background-color: white;
  width: 500px;
  height: 500px;
}

@media (max-width: 540px) {
  .slider-part, .description-part {
    width: 95%;
    height: unset;
    aspect-ratio: 1/1 !important;
  }
}

.slider__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; height: 100%;
  border-radius: 15px;
  z-index: 4;
  overflow: hidden;
}

.slider-part {
  position: relative;
  z-index: 2;
  align-content: center;
}
.swiper-button-prev, .swiper-button-next {
  color: #000;
}
.swiper-slide .slide__container {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  width: 100%;
}
.slide__container .item_img {
  width: -webkit-fill-available; height: -webkit-fill-available;
  object-fit: contain;
  background-color: rgb(186, 187, 213);
}

.swiper-pagination {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0 !important;
}

.pagination-bullet {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  object-fit: contain;
}

.slider-part .swiper-pagination-bullet {
  width: 80px; height: 80px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  background: unset !important;
}

@media (max-width: 460px) {
  .slider-part .swiper-pagination-bullet {
    width: 40px; height: 40px;
  }
}


.description-part {
  position: relative;
}
.item__title {
  text-align:justify;
  font-weight: 1000;
  font-size: 1.4em;
}

.item__article {
  color:rgb(35, 35, 35);
  font-weight: 300;
  font-size: 0.6em;
  margin-top: 0px;
}

.item__price {
  font-size: 1.2em;
  font-weight: 800;
}

.add-remove__button {
  letter-spacing: 0.05em;
  width: 100%;
  height: 70px;
  min-width: 140px;
  border-radius: 15px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 800;
  font-size: 0.9em;
  color: white;
  background-color: rgb(73, 73, 73);
}

.item-description__paragraph {
  width: 100%;
  padding: 5px 5px;
  max-width: 300px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
  font-size: 0.4em;
  color: rgb(73, 73, 73);
}
.size-selector__wrap label {
  text-align: left;
  font-size: 0.9em;
}
.size-selector__wrap .size-select {
  font-size: 0.9em;
  max-width: 110px;
}

@media (max-width: 460px) {
  .item__title {
    font-size: 28px;
  }

  .item__article {
    font-size: 14px;
  }

  .item__price {
    font-size: 28px;
  }

  .add-remove__button {
    width: 100%;
    min-width: unset;
    font-size: 20px;
    height: 50px;
  }

  .item-description__paragraph {
    max-width: 300px;
    font-size: 10px;
  }

  .size-selector__wrap {
    max-width: unset;
    flex-direction: column;
    width: 50%;
  }
  .size-selector__wrap label {
    font-size: 18px;
  }
  .size-selector__wrap .size-select {
    width: 70px;
    font-size: 18px;
  }
}

.description-part-div {
  position: relative;
  min-height: inherit;
  z-index: 2;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 15px;
}

#bg-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#bg-wrap svg {
  width: inherit;
  height: inherit;
}


/*cart page*/

.cart__main {
  height: fit-content;
}
.cart__main input[type=radio] {
  display: none;
}

.order__wrap {
  position: relative;
  z-index: 2;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  width: 95%;
  border-radius: 15px;
  min-width: 350px;
}

.order__header {
  line-height: 1em;
  margin: 2vmin auto;
  font-weight: 800;
  font-size: 25px;
  height: unset;
}

.cart-item__list {
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  width: 100%;
}
.cart-item__wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.cart-item {
  display: inline-grid;
  grid-template-columns: 13% 57% 20% 10%;
  align-items: center;
  width: 100%;
  aspect-ratio: 6;
}

.cart-item .item-cart__preview {
  display: flex;
  display: -webkit-flex;
  text-align: center;
  position: relative;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.item-cart__preview .cart_item_preview__img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  object-fit: contain;
}
        

.cart-item .item-left {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 5px 5px;
  margin-left: 10px;
}
.item-left .cart_item_title {
  font-size: 4vmin;
  font-weight: 1000;
}

.item-left .cart-size-selector__wrap {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.cart-size-selector__wrap .size-select_label{
  font-size: 3.5vmin;
  color: rgb(73, 73, 73);
  font-weight: 600;
}

.cart-size-selector__wrap  .size-select {
  margin-left: 5px;
  font-size: 3.5vmin;
}

.cart-item .item-middle {
  font-size: 6vmin;
  font-weight: 700;
  text-align: center;
}

.cart-item .item-right {
  text-align: center
}

.item-right .del-from-cart__icon {
  transition: transform .2s ease-in-out;
}

@media (hover: hover) {
  .item-right .del-from-cart__icon:hover {
    transform: scale(1.2);
  }
}

@media (hover: none) {
  .item-right .del-from-cart__icon:active {
    transform: scale(1.2);
  }
}

.cart-item__list span {
  width: 100%;
  height: 2px;
  background-color: #000000;
  padding: 1px;
}


.order-total {
  margin-bottom: 7%;
  width: 100%;
}
.order-total .promo-title {
  font-weight: 600;
  font-size: 50%;
}
.promocode__wrap {
  max-width: 370px;
  display: flex;
  display: -webkit-flex;
  padding: 5px;
  align-items: flex-start;
  flex-direction: column;
}
.promocode-input {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  justify-items: center;
  align-items: flex-start;
    flex-direction: column;
}
#promocode {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 60%;
  width: 40%;
  height: 80%;
}
.promo__button {
  margin-top: 3px;
  display: inline-block;
  font-size: 40%;
  width: 40%;
  letter-spacing: 0.05em;
  padding: 4px;
  border-radius: 15px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 800;
  color: white;
  background-color: rgb(73, 73, 73);
}


.total__wrap {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-around;
}
.total__title {
  font-size: 110%;
}
.total__price {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
}

.order__wrap .total__price {
  font-size: 110%;
}
.form__input {
  align-items: flex-start;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  margin: 3% 5px;
}
.input__title {
  font-size: 3vmin;
  font-weight: 600;
}
.input_field {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 3vmin;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: solid 0.5px #000;
  border-radius: 0;
}

.input_field__error {
  border-bottom: solid 0.5px #ff0000;
  background-color: #d75a5a3f;
}

.ship__wrap {
  margin-bottom: 2%;
}

.ship-option__selector {
  padding: 5px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ship-option__selector label {
  font-size: 3vmin;
  font-weight: 400;
}
.ship-option__selector .ship-option__wrap {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  width: 90%;
}


.adress__wrap {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.adress__part {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
  flex-direction: column;
  transition: transform .5s ease-in-out;
  margin-right: 5px;
}
.adress__part .input_field {
  margin-left: 6%;
  width: 87%;
  border-radius: 0;
}
.adress__part .adress-form__label {
  margin-left: 6%;
  font-size: 3vmin;
  font-weight: 400;
}


.adress-label__wrap {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.user-hints__ship {
  width: 50%;
  height: 20px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
.user-hints__ship  h4 {
  font-size: 2.5vmin;
  font-weight: 400;
  opacity: 0.6;
}


.send-order__button {
  margin-top: 10px;
  width: 100%;
  aspect-ratio: 8/1;
  font-size: 5vmin;
  letter-spacing: 0.05em;
  padding: 4px;
  border-radius: 15px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 800;
  color: white;
  background-color: rgb(73, 73, 73);
}

.article__label{
  margin-left: 5px;
}


.ship__wrap .sdek_pick-up-point,
.ship__wrap .sdek_rider,
.ship__wrap .PR_pick-up-point,
.ship__wrap .PR_rider,
.ship__wrap .yandex_pick-up-point,
.ship__wrap .yandex_rider {
  transition: transform .3s ease-in-out;
}

@keyframes hide {
  0% {
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes seek {
  0% {
    height: 0%;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
}

#sdek_rider:checked ~ .adress__wrap .ship-apartments,
#PR_rider:checked ~ .adress__wrap .ship-apartments,
#yandex_rider:checked ~ .adress__wrap .ship-apartments {
  animation-name: seek;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#sdek_pick-up-point:checked ~ .adress__wrap .ship-apartments,
#PR_pick-up-point:checked ~ .adress__wrap .ship-apartments,
#yandex_pick-up-point:checked ~ .adress__wrap .ship-apartments {
  animation-name: hide;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#sdek_pick-up-point:checked ~ .adress__wrap .ship-index,
#PR_pick-up-point:checked ~ .adress__wrap .ship-index,
#yandex_pick-up-point:checked ~ .adress__wrap .ship-index {
  transform: translateY(-100%);
}

#PR_pick-up-point:checked ~ .adress-label__wrap .rider__hint {
  display: none;
}

#sdek_pick-up-point:checked ~ .adress-label__wrap .rider__hint {
  display: none;
}

#yandex_pick-up-point:checked ~ .adress-label__wrap .rider__hint {
  display: none;
}

#PR_rider:checked ~ .adress-label__wrap .pick-up-point__hint {
  display: none;
}

#sdek_rider:checked ~ .adress-label__wrap .pick-up-point__hint {
  display: none;
}

#yandex_rider:checked ~ .adress-label__wrap .pick-up-point__hint {
  display: none;
}



#sdek_pick-up-point:checked ~ .ship__wrap .sdek_pick-up-point,
#sdek_rider:checked ~ .ship__wrap .sdek_rider,
#PR_pick-up-point:checked ~ .ship__wrap .PR_pick-up-point,
#PR_rider:checked ~ .ship__wrap .PR_rider,
#yandex_pick-up-point:checked ~ .ship__wrap .yandex_pick-up-point,
#yandex_rider:checked ~ .ship__wrap .yandex_rider {
  border: solid black;
  border-width: 1.5px;
  transform: scale(1.1);
}


.empty-cart {
  font-style: oblique;
  text-align: center;
  font-size: 2.8em;
  line-height: 1em;
  letter-spacing: 0px;
  font-weight: 800;
  color:rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
  .empty-cart {
    font-size: 22vw;
  }
}


@media (min-width: 900px) {
  .order__wrap {
    width: 650px;
    height: 100%;
    padding: 10px 10px;
  }
  .empty-cart {
    font-size: 450%;
    line-height: 110px;
  }
  .cart-item__wrapper {
    margin-bottom: 10px;
  }
  .item-left .cart_item_title {
    font-size: 30px;
  }

  .cart-size-selector__wrap {
    display: flex;
    display: -webkit-flex;
    align-items: center;
  }
  .cart-size-selector__wrap .size-select_label, .cart-size-selector__wrap .size-select {
    font-size: 25px;
  }

  .cart-item .item-middle {
    font-size: 30px;
  }

  .total__wrap .total__title, .total__wrap .total__price {
    font-size: 40px;
  }  

  .order-total .promocode__wrap {
    max-width: 500px;
  }

  .order__header {
    font-size: 35px;
  }

  .form__wrap {
    width: 100%;
  }
  .input__title {
    font-size: 20px;
  }
  .input_field {
    font-size: 20px;
    height: 50px;
  }
  .ship__wrap label {
    font-size: 18px;
  }
  .user-hints__ship h4 {
    font-size: 16px;
  }
  .adress__wrap .adress-form__label, .adress__wrap .input_field {
    font-size: 20px;
  }
  .send-order__button {
    font-size: 35px;
    margin: 35px 0px;
  }
  .ship-option__wrap {
    margin: 5px 0;
  }
}


/*ship page*/
.ship-inf__wrap, .return-inf__wrap {
  border-radius: 15px;
}

.ship-inf__wrap ul {
  list-style: decimal;
  list-style-position: inside;
}
@media (max-width: 500px) {
  .ship__main__wrap h3 {
    font-size: 90%;
  }
  .ship__main__wrap li, .ship__main__wrap p {
    font-size: 52%;
  }
  .ship-inf__wrap, .return-inf__wrap {
    padding-inline: 10px;
  }
}

.ship__main__wrap {
  height: fit-content;
  min-height: unset;
}

@media (min-width: 500px) {
  .ship-inf__wrap, .return-inf__wrap {
    width: 90%;
    font-size: 60%;
    padding-inline: 20px;
  }
}

/*authors page*/


.authors__main__wrap {
  position: relative;
  min-width: var(--page-min-width);
  min-height: 450px;
}

/*.authors__main__wrap #bg-wrap {
  position: fixed;
  bottom: unset;
  overflow: hidden;
  min-height: calc(700px);
  max-height: inherit;
  height: 100vh;
  transform: translateY(-100px);
}*/

.authors-page__header {
  line-height: 2em;
}
.autors-cards__wrapper {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.autors-cards__wrapper::-webkit-scrollbar { width: 0; }

.creator-card__wrap {
  width: 60%;
  position: relative;
  text-align: center;
  border-radius: 15px;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 1);
  border: 2px solid rgba(255, 255, 255, 0.18);
}
.creator-card__wrap h3 {
  padding: 20px 0;
  z-index: 1;
  position: relative;
  background-color: white;
  border-radius: 15px;
}
.pic__wrap {
  width: 100%;
  height: 250px;
  z-index: 1;
  position: relative;
  background: white;
}
.pic__wrap img {
  max-width: 100%;
  max-height: 100%;
}

.author-text-description__wrap {
  display: flex;
  display: -webkit-flex;
  position: relative;
  height: 0px;
  width: 100%;
  flex-direction: column-reverse;
  transition: 0.8s ease-in-out;
}
.author-text-description__wrap  p {
  padding-inline: 10px;
  position: relative;
  z-index: -1;
  font-size: 75%;
  margin: auto auto;
  font-size: 20px;
}
.arrow__wrap .dwn-arrow {
  transition: transform .2s ease-out;
}
  
#creator_Name1:checked ~ .author-text-description__wrap,
#creator_Name2:checked ~ .author-text-description__wrap,
#creator_Name3:checked ~ .author-text-description__wrap {
  height: 250px;
}

#creator_Name1:checked ~ .arrow__wrap .dwn-arrow,
#creator_Name2:checked ~ .arrow__wrap .dwn-arrow,
#creator_Name3:checked ~ .arrow__wrap .dwn-arrow {
  transform: rotatex(180deg);
}

@media (max-width: 720px) {
  .authors__main__wrap {
    background: unset;
  }
  .authors__main__wrap #bg-wrap svg {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    background: white;
  }

  .main-authors-page .creator-card__wrap {
    width: 95%;
    margin: 5px 0;
  }
  .pic__wrap {
    height: 200px;
  }
  .author-text-description__wrap {
    height: 0px;
    animation-name: hide-c-mobile;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .author-text-description__wrap p {
    font-size: 40%;
  }
  #creator_Name1:checked ~ .author-text-description__wrap,
  #creator_Name2:checked ~ .author-text-description__wrap,
  #creator_Name3:checked ~ .author-text-description__wrap {
    height: 200px;
  }
}